body {
  width: 100vw;
  /* height: 100vh; */
  background-color:#28335c;;
  margin: 0;
  color: white;
}
h3,
#city-name {
  letter-spacing: 0.5px;
}
header h1 {
  letter-spacing: 1.3px;
}
header,
form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 206px;
  height: 36px;
}
#search-btn,
.clear-cities-btn {
  width: 48px;
  height: 43px;
  background-color: white;
  margin-left: 10px;
  color: #28335c;
}

#search-btn:active {
  border-color: #f4b500;
}
.clear-cities-btn {
  width: auto;
  letter-spacing: 1.2px;
  font-weight: bold;
  border-radius: 5px;
}
input,
#search-btn {
  border-radius: 5px;
}
.fa-search {
  color: black;
}
.data-container {
  margin: 5%;
  padding: 1rem;
}
.weather-data-container ul {
  list-style-type: none;
  padding: 0;
  font-size: 19px;
}
.weather-data-container ul li {
  margin: 6px auto;
}
#city-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
#current-date {
  text-align: center;
  margin: 0;
}

#weather-description {
  text-align: center;
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
}

#weather-icon {
  width: 100px;
  height: 100px;
  display: flex;
  margin: auto;
  background: #fafafa99;
  border-radius: 15px;
  margin-top: 20px;
}
.forecast-icon-container > img {
  background: #fafafa99;
  border-radius: 15px;
  width: 70px;
  height: 70px;
}
#temperature {
  font-size: 34px;
}
.weather-data-container ul li i {
  margin: 3px;
}
.default-city-name,
.delete-default-city-name {
  color: #f4b500;
  font-size: 16px;
  clear: right;
  float: left;
  border: none;
  background-color: transparent;
}

.delete-default-city-name {
  display: none;
}
.fa-droplet {
  color: #00ccff;
  margin-top: 18px !important;
}
.fa-wind {
  color: #fef7f7;
}

.sun-container {
  display: flex;
}
.sun-container-sunrise,
.sun-container-sunset {
  width: 48%;
  height: 55px;
  background-color: white;
  color: #465694;
  margin: 6px auto;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.fa-sun-sunrise,
.fa-arrow-up {
  color: #ffc707;
}
.fa-sun-sunset,
.fa-arrow-down {
  color: #ff9507;
}

.fa-sun-sunrise,
.fa-sun-sunset {
  width: fit-content;
  height: 10px;
  overflow: hidden;
  font-size: 22px;
}
#sunrise-time,
#sunset-time {
  padding-left: 9px;
  width: 50%;
  text-align: center;
}
.hourly-forecast-container,
.forecast-container {
  display: grid;
}
#hourly-forecast,
#forecast {
  display: inline-flex;
  overflow-x: auto;
  overflow-y: hidden;
}
#hourly-forecast {
  background-color: #677bc629;
  padding: 25px 0;
}

#hourly-forecast,
#forecast {
  border-radius: 5px;
}

#hourly-card,
#forecast-card {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.052);
  color: rgba(255, 255, 255, 0.904);
  padding: 0 10px;
  text-align: center;
  /* border-radius: 5px; */
}
.hourly-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hourly-weather-icon {
  width: 39px;
  height: 39px;
  /* width: 100%; */
}

#saved-cities {
  list-style-type: none;
  padding: 0;
  /* display: grid; */
}

.saved-city-name {
  display: inline-flex;
  width: 33%;
  height: 40px;
  margin: 7px;
  padding: 12px;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #465694;
  background-color: white;
}
.delete-city-btn {
  background-color: white;
  border: none;
  position: absolute;
  top: 4px;
  right: 5px;
  color: #5060b7;
}
.delete-city-btn:hover {
  /* color: #28335c; */
  color: rgba(255, 0, 0, 0.698);
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(128, 128, 128, 0.052);
  border-radius: 5px;
}
.saved-city-name:hover {
  text-decoration: underline;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container > p {
  letter-spacing: 1.2px;
}

.footer-container > img {
  width: 100px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  header h1 {
    font-size: 50px;
  }
  input {
    width: 260px;
  }
  main {
    margin: 0 15%;
  }
  .weather-data-container ul {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .sun-container-sunrise,
  .sun-container-sunset {
    width: 44%;
  }
  .saved-city-name {
    width: 24%;
  }
}

@media screen and (min-width: 992px) {
  header h1 {
    font-size: 80px;
  }
  input {
    width: 300px;
  }
  main {
    margin: 0 18%;
  }
  .default-city-name,
  .delete-default-city-name {
    font-size: 21px;
  }
  .sun-container-sunrise,
  .sun-container-sunset {
    width: 34%;
  }
  .sun-container-sunrise {
    margin-right: 10px;
  }
  .sun-container-sunset {
    margin-left: 10px;
  }
  #forecast-card {
    padding: 0 19px;
  }
  .saved-city-name {
    width: 19%;
  }
}
