* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  background-color: rgb(58, 53, 53);
  color: white;
  padding: 15px;
  margin: auto;
}

.search-City-container {
  background-color: rgb(236, 229, 229);
  padding: 15px;
  width: fit-content;
  margin: 0px 10px 20px 0px;
  float: left;
  clear: right;
}

#search-btn {
  width: 15%;
  margin: 2%;
}

#clear-cities {
  margin: 2%;
}

.search-history {
  margin: 10px 0px 0px;
}

.current-city-data {
  padding: 15px;
}

#uv-index {
  display: inline-block;
  padding: 2px 5px;
  font-weight: bold;
}

.none {
  background-color: none;
}

.green {
  background-color: rgb(76, 204, 76);
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

#forecast {
  padding: 15px;
}

#forecast-card {
  display: inline-block;
  padding: 5px;
  margin: 15px;
  width: auto;
  text-align: center;
  overflow: auto;
}

#weather-icon {
  width: 40px;
}
