body {
  width: 100vw;
  /* height: 100vh; */
  background-image: linear-gradient(
    to top,

    #677bc6,
    #4351ae,
    #465694,
    #28335c
  );
  margin: 0;
  color: white;
}
h3,
#city-name {
  letter-spacing: 0.5px;
}
header h1 {
  letter-spacing: 1.3px;
}
header,
form {
  text-align: center;
}

input {
  width: 206px;
  height: 36px;
}
#search-btn {
  width: 48px;
  height: 37px;
  background-color: white;
}
#search-btn:active {
  border-color: #f4b500;
}

input,
#search-btn {
  border-radius: 5px;
}
.fa-search {
  color: black;
}
.data-container {
  /* text-align:center; */
  margin: 5%;
  padding: 1rem;
}
.weather-data-container ul {
  list-style-type: none;
  padding: 0;
  font-size: 19px;
}
.weather-data-container ul li {
  margin: 6px auto;
}
#city-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
#current-date {
  text-align: center;
  margin: 0;
}

#weather-description {
  text-align: center;
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
}

#weather-icon {
  display: flex;
  margin: auto;
}
#temperature {
  font-size: 34px;
}
.weather-data-container ul li i {
  margin: 3px;
}
.fa-star {
  color: #f4b500;
  font-size: 16px;
  clear: right;
  float: left;
}
.fa-droplet {
  color: #00ccff;
  margin-top: 18px !important;
}
.fa-wind {
  color: #fef7f7;
}

.sun-container {
  display: flex;
}
.sun-container-sunrise,
.sun-container-sunset {
  width: 48%;
  height: 55px;
  background-color: white;
  color: #465694;
  margin: 6px auto;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.fa-sun-sunrise,
.fa-arrow-up {
  color: #ffc707;
}
.fa-sun-sunset,
.fa-arrow-down {
  color: #ff9507;
}

.fa-sun-sunrise,
.fa-sun-sunset {
  width: fit-content;
  height: 10px;
  overflow: hidden;
  font-size: 22px;
}
#sunrise-time,
#sunset-time {
  padding-left: 9px;
  width: 50%;
  text-align: center;
}
.hourly-forecast-container, .forecast-container {
  display: grid;
}
#hourly-forecast, #forecast {
  display: inline-flex;
  overflow-x: auto;
  overflow-y: hidden;
}
#hourly-forecast{
  background-color: #677bc6ad;
  padding: 25px 0;
  border-radius: 5px;
}

#hourly-card, #forecast-card {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.052);
  color: rgba(255, 255, 255, 0.904);
  padding: 0 10px;
  text-align: center;
  /* border-radius: 5px; */
}
.hourly-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hourly-weather-icon {
  width: 100%;
}

/* .fa-arrow-up,
.fa-arrow-down {
  margin: 0;
  margin-left: -5px !important;
  font-size: 14px;
} */

/*body {
 
  background-image: url('/assets/images/pexels-eberhard-grossgasteiger-2098427.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  color: white;
}

.form-container {
  padding: 4rem;
}
form {
  position: relative;
  background-color: transparent;
  margin: auto;
}
input {
  width: 100%;
  height: 30px;
  background-color: white;
  border: 1px solid #a5a4a4;
  border-radius: 10px;
}
#search-btn {
  position: absolute;
  top: 0px;
  right: 0;
  border: none;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
}
i {
  color: #383838;
}
.weatherData-container {
  padding: 2rem;
}
/* .weatherIcon-container{
  position: absolute;
    top: 12%;
    right: 0%;
    width: 200px;
} 
#weather-icon {
  width: 100%;
}
#city-name {
  width: fit-content;
  display: inline-flex;
}
h1,
h3 {
  font-size: 28px;
  margin-top: 2rem;
  margin-bottom: 0;
}
h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}
#temperature {
  font-weight: 200;
}
p {
  margin: 0;
}
.forecast-container {
  padding: 2rem;
  background-color: #25252559;
}
.forecast-container h3, .storage-container h3 {
  font-size: 19px;
  font-weight: 500;
}
#forecast {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
#forecast-card {
  border: 1px solid #ffffff63;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}
#forecast-card:not(:last-child) {
  margin-right: 1rem;
}

.storage-container {
  padding: 2rem;
}
ul{
  padding-left: 0;
}
.list-group-item {
  list-style: none;
  display: inline-block;
  border: 1px solid grey;
  padding: 5px 8px;
  margin: 5px;
  border-radius: 5px;
  background-color: #efefef;
  color: black;
}
.clearBtn{
  font-weight: bold;
  padding: 5px;
}
.green, .yellow, .orange, .red {
  width: fit-content;
  border-radius: 15px;
  padding: 0 5px;
}
.green{
  background-color: rgb(5, 206, 5);
}
.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}
.weatherData-container p {
  margin-top: 5px;
}
.fa-droplet{
  color:#284df5;
}
.fa-wind{
  color:#ffffffc4
}

@media screen and (min-width:768px){
  #myForm {
    width: 50%;
  }
  .weatherData-container, .storage-container {
    padding: 2rem 8rem;
  }
  .weatherIcon-container {
    right: 10%;
  }
}*/
